/* HELPER CLASSES */
.wpcf7 br {
	display: none;
}

.fs-28 {
	font-size: 28px !important;
	line-height: 40px !important;
}

.fs-40 {
	font-size: 40px !important;
	line-height: 44px !important;
}

.fs-48 {
	font-size: 48px !important;
	line-height: 52px !important;
}

.font-bold {
	font-weight: bold !important;
}

.testo-rosso-verardi {
	color: #db0029 !important;
}

.sfondo-rosso-verardi {
	background-color: #db0029 !important;
}

.testo-grigio-verardi {
	color: #979797 !important;
}

.sfondo-grigio-verardi {
	background-color: #979797 !important;
}

.testo-nero-verardi {
	color: #000000 !important;
}

.sfondo-nero-verardi {
	background-color: #000000 !important;
}

.testo-sinistra {
	text-align: left !important;
}

/* HOME PAGE */
.pbmit-slider-bg {
	position: relative;
	overflow: hidden;
}

.swiper-wrapper-home {
	height: 100dvh;
}

.pbmit-slider-bg video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}

/* SEZIONE FOOTER FORM CONTATTO */

.contact-form-section {
	background: #323232;
}

.form-control {
	color: #fff;
}

.form-control:focus {
	color: #fff !important;
}

.box-telefono {
	display: flex;
	align-items: center;
}

.box-telefono img {
	margin-right: 20px;
}

.box-telefono span {
	font-size: calc(1rem + 0.5vw);
	font-weight: bold;
}

.newsletter-section {
	background-image: url("../images/verardi/Sfondo_rosso_pallini.png");
	background-repeat: repeat-y;
	background-position: center;
	background-size: cover;
}

.pbmit-footer-main-area {
	text-align: center;
}

.pbmit-footer-widget-area {
	text-align: left;
}

.footer-menu-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.footer-menu-item span {
	margin-left: 10px;
}

/* PAGINA ASSISTENZA */
.assistenza-sezione-icone {
	background-color: var(--pbmit-global-color);
	color: var(--pbmit-white-color);
}

.bordo-destra:not(:last-child) {
	border-right: 1px solid #979797;
}

/* SETTORI */
.menu-settore-container {
	background-color: var(--pbmit-light-color);
	padding: 5vw 0;
}

.settore-menu-item {
	display: block;
	border-bottom: 1px solid #d8d8d8;
	margin-inline: 30px;
}

.settore-menu-item a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 20px;
}

.settore-menu-item span {
	color: #000;
	font-size: 28px;
}

.container-bianco-testo {
	background-image: url(../images/verardi/sfondo-bianco-pallini.png);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
}

.container-grigio-testo {
	background-color: var(--pbmit-light-color);
}

.testo h2 {
	font-weight: bold;
	font-size: calc(2rem + 1.5vw);
	color: #000;
	line-height: 105%;
	margin-bottom: 3vw;
}

.testo {
	max-width: 1200px;
	margin: 0 auto 0 auto;
}

.testo ul {
	list-style-type: none; /* Rimuove i marcatori di lista predefiniti */
	padding-left: calc(var(--bs-gutter-x) * 0.65);
	margin-bottom: 25px;
}

.testo ul li {
	color: black; /* Imposta il colore del testo dell'elemento di lista a nero */
	position: relative; /* Permette di posizionare il pseudo-elemento rispetto all'elemento di lista */
}

.testo ul li::before {
	content: "•"; /* Crea un marcatore di lista personalizzato */
	color: red; /* Imposta il colore del marcatore di lista a rosso */
	position: absolute; /* Posiziona il marcatore di lista rispetto all'elemento di lista */
	left: -0.8em;
	top: -8px;
	font-size: 25px;
}
